<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>人脸登录</title>
</head>

<body>

<form action="/facelogin" method="get">
    <dl class="admin_login">
        <dt>
            <strong>人脸识别登录管理系统</strong>
            <br>
            <em>开启摄像头，调试角度</em> <strong>请把你的脸放摄像头面前</strong>
        </dt>

        <div id="media">
            <video id="video" width="480" height="320" autoplay></video>
            <canvas id="canvas" width="480" height="320"></canvas>
        </div>
        <dd>
            <input type="button" onclick="query()" value="立即登录" class="submit_btn" />
        </dd>

    </dl>

    <script type="text/javascript">
        //var 是定义变量
        var canvans = document.getElementById("canvas");
        var video = document.getElementById("video"); //获取video标签
        var context = canvas.getContext("2d");
        var con  ={
            audio:false,
            video:{
                disaplay:true,
                width:480,
                height:320,
            }
        };


        //导航 获取用户媒体对象
        navigator.mediaDevices.getUserMedia(con)
            .then(function(stream){
                try{
                    video.src = window.URL.createObjectURL(stream);
                }catch(e){
                    video.srcObject = stream;
                };
                video.onloadmetadate = function(e){
                    video.play();
                }
            });

        function query(){

            //把流媒体数据画到convas画布上去
            context.drawImage(video,0,0,480,320);
            var imgData = canvans.toDataURL();
            var imgData1 = imgData.split("base64,")[1];

            $.ajax({
                type:"post",
                url:"/face/loginByFace",
                data:{"img":imgData1},
                success:function(data){

                    /* alert(data) */
                    var result = eval(data);
                    console.log(data)
                    if(result){
                        alert(data+"登录成功，http://127.0.0.1:8080/register?j100IP=192.168.102.91&port=80&username=admin&password=Avaya123!&sipLoginName="+data+"&sipLoginPassword=123457")
                    } else {
                        alert("面容识别失败,请继续验证");
                    }
                }
            });
        }
        function getBase64() {
            var imgSrc = document.getElementById("canvas").toDataURL("image/png");
            alert(imgSrc);
            return imgSrc.split("base64,")[1];
        };
    </script>
</form>
<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
</body>



</html>